html {
    background-color: #555;
}

input[type="button"] {
    background-color: #68f;
    font-size: 3em;
    margin: 100px;
    padding: 20px;
}

input[type="button"]:hover {
    scale: 1.3;
    box-shadow: #ffa;
    background-color: #ccc;
    transition: background-color 1s linear;
    transition: box-shadow 1s linear;
    transition: scale 1s linear;
}