body {
    background-color: grey;
    margin: 5rem;
}

.circle {
    background-color: white;
    border-width: 5px;
    border-radius: 50%;
    border-color: black;
    width: 20rem;
    height: 20rem;
}

.seconds {
    position: absolute;
    background-color: blue;
    width: 0.1rem;
    height: 9rem;
    margin-left: 10rem;
    translate: 0rem 1rem;
    transform-origin: bottom;
    animation: c 6s linear 0s infinite;
}

.minutes {
    position: absolute;
    background-color: black;
    width: 0.2rem;
    height: 9rem;
    margin-left: 10rem;
    translate: 0rem 1rem;
    transform-origin: bottom;
    animation: c 360s linear 0s infinite;
}

@keyframes c {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}