body {
    background-color: grey;
}
.m {
    background-color: white;
    height: 40rem;
    width: 30rem;
    margin: 3rem;
    display: flex;
    flex-direction: column;
}

.f1 {
    align-self: flex-start;
}

.f2 {
    align-self: center;
    height: 37rem;
    line-height: 37rem;
    background-color: aqua;
}

.f3 {
    align-self: flex-end;
}
