:root {
    --bgcoltop: white;
}

html {
    background-image: url("bgimg.jpeg"); 
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    color: blue;
}

header {
    background-color: var(--bgcoltop);
    margin: 2rem 1rem 0rem 1rem;
    padding: 1rem;
    text-align: center;
}

nav > a {
    margin: 0 3rem 0 3rem;
}

#topspace {
    height: 19rem;
}

main {
    height: 13rem;
    padding-top: 8rem;
    text-align: center;
    color: white;
    background-color: #333399;
}

.readmore {
    background-color: #663333;
}

.readmore a {
    color: white;
}

footer {
    background-color: white;
    text-align: right;
    padding-top: 2rem;
    height: 100%;
}

footer > a {
    margin: 0 1rem 0 1rem;
}

