:root {
    --bgcoltop: white;
}

html {
    background-image: url("bgimg.jpeg"); 
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    color: blue;
}

header {
    background-color: var(--bgcoltop);
    margin-top: 2rem;
    padding: 1rem;
    text-align: center;
}

main {
    height: 30rem;
    text-align: center;
    color: white;
    background-color: #333399;
}

.readmore {
    background-color: #663333;
}

.readmore a {
    color: white;
}

footer {
    background-color: white;
    text-align: right;
}